body {
  height: 100vh;
}
.image-content {
  background-color: rgb(56, 56, 255);

  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  margin: 50px;
}
.image-content img {
  height: 150px;
}

section .left-image {
  position: absolute;
  left: 0;
  bottom: 0;
}
section .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
